.frameChild,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.frameChild {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  height: 4.69em;
  width: 159.6vw;
  transform: translateX(-50%);
  min-width: none;
}
.vectorIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem,
.vectorWrapper {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 65.69em;
  width: 1.69em;
  height: 1.69em;
}
.frameItem {
  top: 0.19em;
  left: 62.69em;
  width: 1.19em;
  height: 1.35em;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  width: 0.93em;
  height: 1.08em;
}
.ellipseParent,
.lineIcon {
  position: absolute;
  top: 0.86em;
  left: 0.73em;
  width: 0.5em;
  height: 0.58em;
}
.ellipseParent {
  top: 0.46em;
  left: 62.69em;
  width: 1.23em;
  height: 1.34em;
}
.frame,
.frame1,
.frame2 {
  text-decoration: none;
  position: relative;
  width: 0.6em;
  height: 1.32em;
  overflow:visible;
  flex-shrink: 0;
}
.frame1,
.frame2 {
  width: 1.32em;
}
.frame2 {
  width: 1.68em;
  height: 1.2em;
}
.frameGroup {
  position: absolute;
  top: 0.19em;
  left: 48.13em;
  width: 6em;
  height: 1.38em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.19em;
}
.frameParent,
.itaParent {
  position: absolute;
  top: 0.06em;
  left: 56.25em;
}
.frameParent {
  top: 1.56em;
  left: 15.81em;
  width: 67.38em;
  height: 1.69em;
}
.rectangle,
.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  position: absolute;
  top: 2.5em;
  left: 0.06em;
  background-color: rgba(0, 0, 0, 0.2);
  width: 2.5em;
  height: 0.06em;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  left: 12.13em;
  height: 0.13em;
}
.rectangle2,
.rectangle3,
.rectangle4 {
  left: 25.81em;
  height: 0.06em;
}
.rectangle3,
.rectangle4 {
  left: 47.38em;
}
.rectangle4 {
  left: 35.56em;
}
.rectangleGroup {
  position: absolute;
  top: 1.13em;
  left: 14.81em;
  width: 47.38em;
  height: 2.13em;
}
.link4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 1.38em;
  line-height: 1.09em;
  font-weight: 900;
  color: inherit;
}
.link4Parent {
  top: 1.31em;
  left: 14.81em;
  width: 47.75em;
  height: 1.94em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.44em;
}
.image13,
.link4Parent,
.nav {
  position: absolute;
}
.image13 {
  text-decoration: none;
  top: -0.06em;
  left: 0;
  width: 7em;
  height: 4.69em;
  background-image: url(/image-13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.nav {
  position: absolute;
  top: 0.06em;
  left: 3.31em;
  width: 84.44em;
  height: 4.63em;
  text-align: center;
  color: #8f8f8f;
}
.frameChild1,
.rectangleDiv {
  position: absolute;
  top: 38.63em;
  left: 46em;
  border-radius: 8px;
  background-color: rgba(81, 131, 60, 0.1);
  width: 40.5em;
  height: 7.38em;
}
.frameChild1 {
  top: 0;
  left: 0;
  background-color: rgba(251, 143, 29, 0.1);
  width: 41.5em;
}
.experience,
.type {
  position: relative;
  font-size: 0.88em;
  line-height: 2.57em;
  display: flex;
  align-items: center;
  height: 1.21em;
  flex-shrink: 0;
}
.type {
  font-weight: 600;
  width: 4.76em;
}
.experience {
  color: rgba(0, 0, 0, 0.6);
  width: 7em;
}
.typeParent {
  position: absolute;
  top: 1em;
  left: 1.5em;
  width: 6.13em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.destination {
  position: relative;
  font-size: 0.88em;
  line-height: 2.57em;
  font-weight: 600;
  width: 5.64em;
  height: 1.21em;
  flex-shrink: 0;
}
.destination,
.destinationParent,
.favignana {
  display: flex;
  align-items: center;
}
.favignana {
  position: relative;
  font-size: 0.88em;
  line-height: 2.57em;
  color: rgba(0, 0, 0, 0.6);
  width: 5.64em;
  height: 1.21em;
  flex-shrink: 0;
}
.destinationParent {
  position: absolute;
  top: 1em;
  left: 11.19em;
  width: 4.94em;
  flex-direction: column;
  justify-content: flex-start;
}
.averageRating,
.div {
  position: relative;
  font-size: 0.88em;
  line-height: 2.57em;
  display: flex;
  align-items: center;
  height: 1.21em;
  flex-shrink: 0;
}
.averageRating {
  font-weight: 600;
  width: 6.57em;
}
.div {
  color: rgba(0, 0, 0, 0.6);
  width: 3.79em;
}
.averageRatingParent {
  position: absolute;
  top: 4.25em;
  left: 1.5em;
  width: 5.75em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.numberOfReviews {
  position: relative;
  font-size: 0.88em;
  line-height: 2.57em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 8.57em;
  height: 1.21em;
  flex-shrink: 0;
}
.numberOfReviewsParent {
  position: absolute;
  top: 4.25em;
  left: 11.19em;
  width: 7.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.familyFriendly,
.no {
  position: relative;
  font-size: 0.88em;
  line-height: 2.57em;
  display: flex;
  align-items: center;
  height: 1.21em;
  flex-shrink: 0;
}
.familyFriendly {
  font-weight: 600;
  width: 6.71em;
}
.no {
  color: rgba(0, 0, 0, 0.6);
  width: 3.52em;
}
.familyFriendlyParent,
.highSeasonParent {
  position: absolute;
  top: 1em;
  left: 33.81em;
  width: 5.88em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.highSeasonParent {
  left: 22.5em;
  width: 4.94em;
}
.rectangleContainer {
  position: absolute;
  top: 38.63em;
  left: 3.5em;
  width: 41.5em;
  height: 7.38em;
  color: #000;
}
.jumpToChapter {
  top: 35.95em;
  left: 2.55em;
  font-weight: 600;
  width: 7.41em;
}
.jumpToChapter,
.relatedStory,
.seeMore,
.uniqueExperiences {
  position: absolute;
  font-size: 1.38em;
  line-height: 1.64em;
  display: flex;
  align-items: center;
  height: 0.64em;
}
.relatedStory {
  top: 35.95em;
  left: 48.23em;
  font-weight: 600;
  width: 7.41em;
}
.seeMore,
.uniqueExperiences {
  width: 13.82em;
}
.uniqueExperiences {
  top: 69.23em;
  left: 49.55em;
  font-weight: 600;
}
.seeMore {
  top: 121.64em;
  left: 49.09em;
}
.anchorHowToGetThere {
  position: absolute;
  left: 0;
  top: -5.56em;
}
.didYouKnow,
.history,
.howToGetContainer,
.whatsHot {
  text-decoration: none;
  position: absolute;
  top: 46.5em;
  left: 3.11em;
  font-size: 1.13em;
  line-height: 2em;
  color: inherit;
  display: flex;
  align-items: center;
  width: 9.06em;
  height: 0.78em;
  cursor: pointer;
}
.didYouKnow,
.history,
.whatsHot {
  top: 48.61em;
}
.didYouKnow,
.whatsHot {
  top: 50.72em;
}
.whatsHot {
  top: 52.83em;
}
.popularAttraction {
  margin: 0;
}
.popularAttractionNearbyContainer1 {
  line-break: anywhere;
  width: 100%;
}
.popularAttractionNearbyContainer,
.quickFacts,
.tripadvisorReviews {
  text-decoration: none;
  left: 3.11em;
  line-height: 1.17em;
  color: inherit;
  width: 11.39em;
}
.popularAttractionNearbyContainer {
  position: absolute;
  top: 54.94em;
  font-size: 1.13em;
  display: flex;
  align-items: center;
  height: 1.94em;
  cursor: pointer;
}
.quickFacts,
.tripadvisorReviews {
  height: 0.72em;
}
.quickFacts {
  position: absolute;
  top: 58.22em;
  font-size: 1.13em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tripadvisorReviews {
  top: 60.28em;
}
.googleReviews,
.loremIpsumDolor,
.tripadvisorReviews {
  position: absolute;
  font-size: 1.13em;
  display: flex;
  align-items: center;
}
.googleReviews {
  text-decoration: none;
  top: 62.33em;
  left: 3.11em;
  line-height: 1.17em;
  color: inherit;
  width: 11.39em;
  height: 0.72em;
}
.loremIpsumDolor {
  top: 46.33em;
  left: 17.17em;
  line-height: 2em;
  color: #000;
  width: 38.67em;
  height: 11em;
}
.howToGet,
.loremIpsumDolor1,
.loremIpsumDolor2 {
  position: absolute;
  top: 21.33em;
  left: 8.58em;
  font-size: 2.25em;
  line-height: 1em;
  display: flex;
  align-items: center;
  width: 7.75em;
  height: 1.39em;
}
.loremIpsumDolor1,
.loremIpsumDolor2 {
  top: 117.67em;
  left: 17.17em;
  font-size: 1.13em;
  line-height: 2em;
  color: #000;
  width: 38.67em;
  height: 11em;
}
.loremIpsumDolor2 {
  top: 130.44em;
}
.theBestTuna {
  color: #eb6e13;
}
.didYouKnow1,
.seeAlsoTheContainer {
  position: absolute;
  display: flex;
  align-items: center;
}
.seeAlsoTheContainer {
  top: 144.83em;
  left: 18.28em;
  font-size: 1.13em;
  line-height: 2em;
  width: 38.67em;
  height: 0.83em;
  color: #000;
}
.didYouKnow1 {
  top: 57em;
  left: 8.58em;
  font-size: 2.25em;
  line-height: 1em;
  width: 7.75em;
  height: 1.39em;
}
.laboriosamNisiUt {
  color: #000;
}
.loremIpsumDolorContainer {
  position: absolute;
  top: 85.72em;
  left: 17.17em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 38.67em;
  height: 25.28em;
  color: #000;
}
.history1 {
  top: 30.17em;
  left: 8.58em;
  font-size: 2.25em;
  line-height: 1em;
  width: 7.75em;
  height: 1.39em;
}
.history1,
.loremIpsumDolor3,
.whatsHot1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.loremIpsumDolor3 {
  top: 153.67em;
  left: 17.17em;
  font-size: 1.13em;
  line-height: 2em;
  color: #000;
  width: 38.67em;
  height: 11em;
}
.whatsHot1 {
  top: 75em;
  left: 8.58em;
  font-size: 2.25em;
  line-height: 1em;
  width: 7.75em;
  height: 1.39em;
}
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 6.94em;
  height: 1.88em;
}
.authentic {
  position: absolute;
  top: 0.44em;
  left: 0.89em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 4.39em;
  height: 0.78em;
}
.frameChild3,
.frameDiv {
  position: absolute;
  height: 1.88em;
}
.frameDiv {
  top: 39.63em;
  left: 50.94em;
  width: 6.94em;
  color: #fff;
}
.frameChild3 {
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 5.19em;
}
.sailing {
  position: absolute;
  top: 0.44em;
  left: 0.89em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 2.83em;
  height: 0.78em;
}
.rectangleParent1 {
  position: absolute;
  top: 42.5em;
  left: 63.63em;
  width: 5.19em;
  height: 1.88em;
  color: #fff;
}
.frameChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 11.69em;
  height: 1.88em;
}
.connectWithLocals {
  position: absolute;
  top: 0.44em;
  left: 0.89em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 8.61em;
  height: 0.78em;
}
.rectangleParent2,
.tags {
  position: absolute;
  top: 42.5em;
  left: 50.94em;
  width: 11.69em;
  height: 1.88em;
  color: #fff;
}
.tags {
  top: 35.22em;
  left: 42.17em;
  font-size: 1.13em;
  line-height: 2em;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  width: 5.17em;
  height: 0.78em;
}
.frameChild5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 5.69em;
  height: 1.88em;
}
.history2 {
  position: absolute;
  top: 0.44em;
  left: 0.89em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 3.28em;
  height: 0.78em;
}
.rectangleParent3 {
  position: absolute;
  top: 42.5em;
  left: 69.81em;
  width: 5.69em;
  height: 1.88em;
  color: #fff;
}
.frameChild6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 5.13em;
  height: 1.88em;
}
.spring1 {
  position: absolute;
  top: 0.44em;
  left: 0.89em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 2.78em;
  height: 0.78em;
}
.rectangleParent4 {
  position: absolute;
  top: 39.63em;
  left: 75.5em;
  width: 5.13em;
  height: 1.88em;
  color: #fff;
}
.frameChild7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 6.75em;
  height: 1.88em;
}
.outdoors {
  position: absolute;
  top: 0.44em;
  left: 0.56em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 4.22em;
  height: 0.78em;
}
.rectangleParent5 {
  position: absolute;
  top: 39.63em;
  left: 67.75em;
  width: 6.75em;
  height: 1.88em;
  color: #fff;
}
.frameChild8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eb6e13;
  width: 7.88em;
  height: 1.88em;
}
.lowBudget {
  position: absolute;
  top: 0.44em;
  left: 0.89em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 5.22em;
  height: 0.78em;
}
.rectangleParent6 {
  position: absolute;
  top: 39.63em;
  left: 58.88em;
  width: 7.88em;
  height: 1.88em;
  color: #fff;
}
.genericTitle,
.loremIpsumDolor4 {
  position: absolute;
  top: 0;
  left: 7.11em;
  font-size: 1.13em;
  line-height: 2em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 9.06em;
  height: 0.78em;
}
.loremIpsumDolor4 {
  top: 1.38em;
  left: 8em;
  font-size: 1em;
  line-height: 1.34em;
  font-weight: 300;
  width: 13.31em;
  height: 3.69em;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 7em;
  height: 5.5em;
  object-fit: cover;
}
.genericTitleContainer,
.genericTitleGroup,
.genericTitleParent {
  text-decoration: none;
  position: absolute;
  top: 52.31em;
  left: 66.31em;
  width: 21.31em;
  height: 5.5em;
  color: #000;
}
.genericTitleContainer,
.genericTitleGroup {
  top: 59.81em;
}
.genericTitleContainer {
  top: 67.31em;
}
.frameChild9,
.lineDiv {
  position: absolute;
  top: 58.8em;
  left: 66.3em;
  border-top: 0.5px solid rgba(235, 110, 19, 0.5);
  box-sizing: border-box;
  width: 20.22em;
  height: 0.03em;
}
.frameChild9 {
  top: 66.3em;
}
.frameA,
.genericTitleParent1 {
  text-decoration: none;
  position: absolute;
  top: 74.81em;
  left: 66.31em;
  width: 21.31em;
  height: 5.5em;
  color: #000;
}
.genericTitleParent1 {
  top: 82.31em;
}
.frameChild10,
.frameChild11 {
  position: absolute;
  top: 73.8em;
  left: 66.3em;
  border-top: 0.5px solid rgba(235, 110, 19, 0.5);
  box-sizing: border-box;
  width: 20.22em;
  height: 0.03em;
}
.frameChild11 {
  top: 81.3em;
}
.rectangle5,
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.69em;
}
.rectangle5 {
  border-radius: 3.14px;
  background-color: #fff;
  box-shadow: 0 3.8931150436401367px 23.36px rgba(189, 189, 189, 0.23);
  height: 21.06em;
}
.rectangleIcon {
  border-radius: 1.57px 1.57px 0 0;
  height: 7.69em;
  object-fit: cover;
}
.templeOfValley {
  position: absolute;
  top: 6.23em;
  left: 2.82em;
  font-size: 1.38em;
  line-height: 144%;
  display: inline-block;
  width: 8em;
  height: 1em;
}
.rectangleParent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.69em;
  height: 21.06em;
}
.fourOptionsChild {
  position: absolute;
  top: 0.38em;
  left: 0.38em;
  border-radius: 13px;
  background-color: rgba(253, 208, 141, 0.34);
  width: 15.44em;
  height: 5.75em;
}
.startingTime {
  margin: 0;
  font-weight: 900;
}
.flexible {
  margin: 0;
  font-weight: 300;
}
.availabilityWholeYear,
.duration5To15Container,
.personalGuideYes,
.startingTimeFlexible {
  position: absolute;
  top: 1.23em;
  left: 3.51em;
  font-size: 0.71em;
  line-height: 144%;
  display: inline-block;
  width: 5.97em;
  height: 2.81em;
}
.availabilityWholeYear,
.duration5To15Container,
.personalGuideYes {
  top: 5.09em;
  width: 9.31em;
}
.availabilityWholeYear,
.personalGuideYes {
  top: 1.23em;
  left: 14.57em;
  width: 5.97em;
}
.personalGuideYes {
  top: 5.09em;
  width: 6.76em;
}
.calendarIcon,
.clockIcon,
.infoIcon,
.usersIcon {
  position: absolute;
  top: 1.38em;
  left: 1.25em;
  width: 1em;
  height: 1em;
  overflow: hidden;
}
.calendarIcon,
.clockIcon,
.usersIcon {
  top: 4.13em;
  left: 1.19em;
}
.calendarIcon,
.usersIcon {
  top: 1.38em;
  left: 9.13em;
}
.usersIcon {
  top: 4.06em;
}
.fourOptions {
  position: absolute;
  top: 10.56em;
  left: 0.69em;
  width: 15.81em;
  height: 6.13em;
  color: #000;
}
.hotel {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 17.69em;
  height: 21.06em;
}
.div2,
.from {
  position: relative;
  font-size: 0.71em;
  line-height: 144%;
  font-weight: 300;
  display: inline-block;
  width: 6.18em;
  height: 2.33em;
  flex-shrink: 0;
}
.div2 {
  font-size: 0.88em;
  font-weight: 900;
  width: 2.39em;
  height: 1.85em;
  margin-top: -0.78em;
}
.fromParent {
  position: absolute;
  top: 18.5em;
  left: 12.63em;
  width: 4.4em;
  height: 2.56em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
  color: #1a2b49;
}
.reviewChild {
  position: absolute;
  height: 89.81%;
  width: 24.07%;
  top: 7.31%;
  right: 75.93%;
  bottom: 2.88%;
  left: 0;
  border-radius: 3.14px;
  background-color: #eb6e13;
}
.div3,
.reviews {
  position: absolute;
  height: 45.14%;
  width: 13.81%;
  top: 29.67%;
  left: 4.89%;
  font-size: 0.79em;
  font-weight: 900;
  display: inline-block;
}
.reviews {
  top: 0;
  left: 3.46em;
  font-size: 0.71em;
  line-height: 144%;
  font-weight: 300;
  color: #1a2b49;
  text-align: left;
  width: 5.44em;
  height: 2.69em;
}
.review,
.starsIcon {
  position: absolute;
  top: 0.92em;
  left: 2.46em;
  width: 5.69em;
  height: 1.02em;
}
.review {
  top: 18.5em;
  left: 0.88em;
  width: 8.15em;
  height: 1.94em;
  text-align: center;
  color: #fff;
}
.cardBest {
  text-decoration: none;
  position: absolute;
  top: 98.06em;
  left: 67.56em;
  width: 17.69em;
  height: 21.06em;
  color: inherit;
}
.naxosArcheologicalPark {
  position: absolute;
  top: 6.23em;
  left: 0.77em;
  font-size: 1.38em;
  line-height: 144%;
  display: inline-block;
  width: 12em;
  height: 1em;
}
.cardBest1 {
  text-decoration: none;
  position: absolute;
  top: 121.13em;
  left: 67.56em;
  width: 17.69em;
  height: 21.06em;
  color: inherit;
}
.teatroGrecoDi {
  position: absolute;
  top: 6.23em;
  left: 1.18em;
  font-size: 1.38em;
  line-height: 144%;
  display: inline-block;
  width: 11em;
  height: 1em;
}
.cardBest2 {
  text-decoration: none;
  position: absolute;
  top: 144.19em;
  left: 67.56em;
  width: 17.69em;
  height: 21.06em;
  color: inherit;
}
.faSolidfireIcon {
  position: absolute;
  top: 94.75em;
  left: 66.31em;
  width: 1.25em;
  height: 1.69em;
  overflow: hidden;
}
.frameIframe {
  position: absolute;
  top: 187.25em;
  left: 19.44em;
  width: 43.88em;
  height: 22.44em;
}
.viewAll {
  position: relative;
  font-size: 1.38em;
  line-height: 1.64em;
  display: flex;
  align-items: center;
  width: 3.73em;
  height: 0.64em;
  flex-shrink: 0;
}
.clarityangleLineIcon {
  position: relative;
  width: 2.25em;
  height: 2.25em;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.37em;
}
.viewAllParent {
  text-decoration: none;
  position: absolute;
  top: 89.13em;
  left: 66.31em;
  width: 7em;
  height: 2.25em;
  display: flex;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  color: inherit;
}
.imageIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 83em;
  height: 29.13em;
  object-fit: cover;
}
.byNameSurname {
  position: absolute;
  top: 19.27em;
  left: 50.77em;
  font-size: 1.38em;
  line-height: 1.44em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 8.77em;
  height: 0.68em;
}
.sicilysTunaFishingContainer {
  position: relative;
  width: 18em;
  left: 1em;
  top: 9.7em;
  font-size: 2.25em;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: #fff;
}
.imageParent {
  position: relative;
  top: 8.5em;
  left: 3.5em;
  width: 83em;
  height: 29.13em;
  justify-self: center;
}
.tonnarotiMattanzaFavignanaTIcon {
  position: absolute;
  top: 72em;
  left: 19.13em;
  border-radius: 8px;
  width: 43.88em;
  height: 22.44em;
  object-fit: cover;
}
.frameChild12,
.frameChild13,
.frameChild14,
.frameChild15 {
  position: absolute;
  top: 161.42em;
  left: 19.42em;
  border-top: 0.5px solid rgba(235, 110, 19, 0.5);
  box-sizing: border-box;
  width: 43.41em;
  height: 0.03em;
}
.frameChild13,
.frameChild14,
.frameChild15 {
  top: 165.36em;
}
.frameChild14,
.frameChild15 {
  top: 212.67em;
}
.frameChild15 {
  top: 216.61em;
}
.rectangle8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.14px;
  background-color: #fff;
  box-shadow: 0 3.8931150436401367px 23.36px rgba(189, 189, 189, 0.23);
  width: 13.38em;
  height: 11.06em;
}
.favignanaTunaFishing {
  position: absolute;
  top: 4.73em;
  left: 1.41em;
  font-size: 1.38em;
  line-height: 144%;
  display: inline-block;
  width: 6.91em;
  height: 1em;
}
.rectangleParent10 {
  top: 0;
  left: 0;
  height: 11.06em;
}
.frameChild16,
.hotel3,
.rectangleParent10 {
  position: absolute;
  width: 13.38em;
}
.hotel3 {
  top: 74.31em;
  left: 3.5em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  height: 11.06em;
}
.frameChild16 {
  top: 11.56em;
  left: 0;
  border-radius: 8px;
  background-color: #eb6e13;
  height: 3.63em;
}
.search {
  position: absolute;
  width: 61.21%;
  top: calc(50% + 79.5px);
  left: 19.63%;
  font-size: 1.38em;
  font-weight: 500;
  display: inline-block;
}
.mattanza2Icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.57px 1.57px 0 0;
  width: 13.38em;
  height: 5.5em;
  object-fit: cover;
}
.rectangleParent11 {
  position: absolute;
  top: 74.38em;
  left: 3.5em;
  width: 13.38em;
  height: 15.19em;
  text-align: center;
  color: #fff;
}
.tripadvisorReviews1 {
  position: absolute;
  top: 143.06em;
  left: 8.72em;
  font-size: 2.25em;
  line-height: 1em;
  display: flex;
  align-items: center;
  width: 15.72em;
  height: 1.39em;
}
.clarityangleLineIcon1 {
  position: absolute;
  top: 3.13em;
  left: 0;
  width: 1.56em;
  height: 1.56em;
  overflow: hidden;
}
.frameChild17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 13.75em;
  height: 7.81em;
}
.giulioBacco {
  margin: 0;
  font-size: 0.63em;
  font-weight: 900;
}
.august3020202 {
  font-size: 0.5em;
}
.august3020201 {
  font-weight: 300;
}
.giulioBaccoAugust30Container,
.loremIpsumDolor9 {
  position: absolute;
  top: 1.03em;
  left: 3.13em;
  line-height: 144%;
  display: inline-block;
  width: 5.5em;
  height: 2em;
}
.loremIpsumDolor9 {
  top: 7.35em;
  left: 1.6em;
  font-size: 0.63em;
  line-height: 1.3em;
  font-weight: 300;
  width: 16.9em;
  height: 3.6em;
}
.frameIcon {
  position: absolute;
  top: 3.53em;
  left: 1em;
  width: 3.78em;
  height: 0.75em;
}
.intersectIcon {
  position: relative;
  width: 1.69em;
  height: 1.69em;
  mix-blend-mode: normal;
}
.frameChild19,
.frameChild20 {
  position: absolute;
  top: 4.59em;
  left: 12.56em;
  background-color: #d8d8d8;
  width: 0.19em;
  height: 2.25em;
}
.frameChild20 {
  background-color: #ababab;
  height: 0.63em;
}
.vectorContainer,
.vectorGroup,
.vectorParent {
  position: absolute;
  top: 0;
  left: 2.06em;
  width: 13.75em;
  height: 7.81em;
}
.vectorContainer,
.vectorGroup {
  left: 16.31em;
}
.vectorContainer {
  left: 30.56em;
}
.clarityangleLineIcon2 {
  position: absolute;
  top: 3.13em;
  left: 44.81em;
  width: 1.56em;
  height: 1.56em;
  overflow: hidden;
}
.intersectIcon1 {
  display: none;
  position: relative;
  width: 1.69em;
  height: 1.69em;
}
.clarityangleLineParent {
  position: absolute;
  top: 326em;
  left: 18.06em;
  width: 46.38em;
  height: 7.81em;
  color: #000;
}
.loremIpsumDolor12,
.rectangle9 {
  position: absolute;
  width: 100%;
  left: 0;
}
.rectangle9 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.loremIpsumDolor12 {
  top: calc(50% - 28px);
  font-size: 0.94em;
  letter-spacing: -0.2px;
  display: inline-block;
}
.image13Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.38em;
  height: 3.75em;
  object-fit: cover;
}
.logoAbout {
  position: absolute;
  height: 43.4%;
  width: 20.35%;
  top: 14.15%;
  right: 66.81%;
  bottom: 42.45%;
  left: 12.85%;
  overflow: hidden;
}
.termsConditions {
  text-decoration: none;
  left: 68.61%;
  color: inherit;
}
.copyright2020,
.privacyPolicy,
.termsConditions {
  position: absolute;
  top: calc(50% + 132px);
  font-size: 0.94em;
  letter-spacing: -0.2px;
}
.copyright2020 {
  left: 12.85%;
  opacity: 0.5;
  mix-blend-mode: normal;
}
.privacyPolicy {
  text-decoration: none;
  left: 80.63%;
  color: inherit;
}
.services1 {
  position: absolute;
  width: 61.32%;
  top: calc(50% - 91px);
  left: 0;
  font-size: 1.06em;
  letter-spacing: -0.23px;
  color: #fb8f1d;
  display: inline-block;
}
.branding,
.campaigns,
.emailMarketing,
.offline {
  text-decoration: none;
  position: absolute;
  width: 94.34%;
  top: calc(50% - 49px);
  left: 0;
  font-size: 0.94em;
  letter-spacing: -0.2px;
  color: inherit;
  display: inline-block;
}
.branding,
.campaigns,
.offline {
  width: 72.64%;
  top: calc(50% - 9px);
}
.branding,
.offline {
  width: 91.51%;
  top: calc(50% + 31px);
}
.offline {
  width: 123.58%;
  top: calc(50% + 71px);
}
.services {
  position: absolute;
  height: 45.92%;
  width: 9.03%;
  top: 14.15%;
  right: 51.04%;
  bottom: 45.92%;
  left: 39.93%;
  overflow: hidden;
}
.about1,
.ourStory {
  position: relative;
  font-size: 1.06em;
  letter-spacing: -0.23px;
  color: #fb8f1d;
}
.ourStory {
  text-decoration: none;
  font-size: 0.94em;
  letter-spacing: -0.2px;
  color: inherit;
}
.about {
  position: absolute;
  height: 42.92%;
  width: 4.51%;
  top: 15.8%;
  right: 36.25%;
  bottom: 41.27%;
  left: 59.24%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25em;
}
.followUs1 {
  position: absolute;
  top: calc(50% - 71px);
  left: 0;
  font-size: 1.06em;
  letter-spacing: -0.23px;
  color: #fb8f1d;
}
.facebook {
  position: absolute;
  top: calc(50% - 9.5px);
  left: 27.93%;
  font-size: 0.94em;
  letter-spacing: -0.2px;
}
.pathIcon {
  position: absolute;
  height: 94.5%;
  width: 10.67%;
  top: 0;
  right: 89.33%;
  bottom: 5.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebookParent {
  text-decoration: none;
  position: absolute;
  top: 2.56em;
  left: 0.32em;
  width: 5.81em;
  height: 1.31em;
  color: inherit;
}
.twitter {
  position: absolute;
  top: calc(50% - 10px);
  left: 39.74%;
  font-size: 0.94em;
  letter-spacing: -0.2px;
}
.pathIcon1 {
  position: absolute;
  height: 79.44%;
  width: 25.07%;
  top: 15%;
  right: 74.93%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitterParent {
  text-decoration: none;
  position: absolute;
  top: 5.13em;
  left: 0;
  width: 4.88em;
  height: 1.25em;
  color: inherit;
}
.instagram {
  position: absolute;
  top: calc(50% - 10px);
  left: 30.93%;
  font-size: 0.94em;
  letter-spacing: -0.2px;
}
.instagramIcon {
  position: absolute;
  height: 100%;
  width: 20.62%;
  top: 0;
  right: 79.38%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagramParent {
  text-decoration: none;
  position: absolute;
  top: 7.63em;
  left: 0.06em;
  width: 6.06em;
  height: 1.25em;
  color: inherit;
}
.followUs,
.footer {
  position: absolute;
  overflow: hidden;
}
.followUs {
  height: 33.49%;
  width: 6.81%;
  top: 15.8%;
  right: 17.57%;
  bottom: 50.71%;
  left: 75.63%;
}
.footer {
  top: 410.44em;
  left: 0.25em;
  width: 90em;
  height: 26.5em;
  color: #1e2833;
  font-family: "DM Sans";
}
.googleReviews1 {
  position: absolute;
  top: 149.86em;
  left: 8.69em;
  font-size: 2.25em;
  line-height: 1em;
  display: flex;
  align-items: center;
  width: 15.72em;
  height: 1.39em;
}
.clarityangleLineIcon3,
.clarityangleLineIcon4 {
  position: absolute;
  top: 3.06em;
  left: 44.81em;
  width: 1.56em;
  height: 1.56em;
  overflow: hidden;
}
.clarityangleLineIcon4 {
  left: 0;
}
.frameChild32 {
  position: absolute;
  top: -1.25em;
  left: -1.25em;
  border-radius: 8px;
  width: 16.25em;
  height: 10.31em;
}
.clarityangleLineGroup,
.vectorParent1,
.vectorParent4 {
  position: absolute;
  top: 0;
  left: 1.56em;
  width: 13.75em;
  height: 7.81em;
}
.clarityangleLineGroup,
.vectorParent4 {
  left: 31.06em;
}
.clarityangleLineGroup {
  top: 341.31em;
  left: 18.06em;
  width: 46.38em;
  color: #000;
}
.vectorIcon3 {
  position: absolute;
  height: 0.17%;
  width: 0.81%;
  top: 78.93%;
  right: 76.34%;
  bottom: 20.9%;
  left: 22.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  position: absolute;
  height: 0.17%;
  width: 0.81%;
  top: 78.93%;
  right: 60%;
  bottom: 20.9%;
  left: 39.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  right: 43.65%;
  left: 55.54%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  right: 75.44%;
  left: 23.75%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  right: 74.54%;
  left: 24.65%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon8,
.vectorIcon9 {
  right: 73.64%;
  left: 25.55%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon9 {
  right: 72.74%;
  left: 26.45%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12 {
  right: 59.1%;
  left: 40.1%;
}
.vectorIcon11,
.vectorIcon12 {
  right: 58.19%;
  left: 41%;
}
.vectorIcon12 {
  right: 57.29%;
  left: 41.9%;
}
.frameChild47,
.frameChild48,
.frameChild49,
.vectorIcon13,
.vectorIcon14,
.vectorIcon15,
.vectorIcon16,
.vectorIcon17 {
  position: absolute;
  height: 0.17%;
  width: 0.81%;
  top: 78.93%;
  right: 56.39%;
  bottom: 20.9%;
  left: 42.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild47,
.frameChild48,
.frameChild49,
.vectorIcon14,
.vectorIcon15,
.vectorIcon16,
.vectorIcon17 {
  right: 42.75%;
  left: 56.44%;
}
.frameChild47,
.frameChild48,
.frameChild49,
.vectorIcon15,
.vectorIcon16,
.vectorIcon17 {
  right: 41.85%;
  left: 57.34%;
}
.frameChild47,
.frameChild48,
.frameChild49,
.vectorIcon16,
.vectorIcon17 {
  right: 40.95%;
  left: 58.24%;
}
.frameChild47,
.frameChild48,
.frameChild49,
.vectorIcon17 {
  right: 40.05%;
  left: 59.14%;
}
.frameChild47,
.frameChild48,
.frameChild49 {
  top: 78.36%;
  right: 47.8%;
  bottom: 21.47%;
  left: 51.39%;
}
.frameChild48,
.frameChild49 {
  right: 64.15%;
  left: 35.04%;
}
.frameChild49 {
  right: 31.46%;
  left: 67.73%;
}
.otherInterestingArticles1 {
  position: absolute;
  height: 8.19%;
  width: 34.87%;
  top: 0;
  left: 33.25%;
  font-size: 2.25em;
  line-height: 1.39em;
  display: inline-block;
  mix-blend-mode: normal;
}
.dividerIcon {
  position: absolute;
  height: 0.46%;
  width: 21.67%;
  top: 9.95%;
  right: 39.07%;
  bottom: 89.6%;
  left: 39.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.maskGroupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.31em;
  height: 20.75em;
  object-fit: cover;
}
.whatToDoContainer {
  position: absolute;
  top: 54.71%;
  left: 0;
  font-size: 1.19em;
  line-height: 1.58em;
  mix-blend-mode: normal;
}
.findOutWhat {
  width: 100%;
  top: 71.08%;
  font-size: 0.94em;
  line-height: 1.73em;
  color: #7d7987;
  display: inline-block;
  mix-blend-mode: normal;
}
.blog01,
.findOutWhat,
.readMore {
  position: absolute;
  left: 0;
}
.readMore {
  width: 100%;
  top: 93.72%;
  font-size: 0.94em;
  line-height: 1.87em;
  font-weight: 600;
  color: #fb8f1d;
  display: inline-block;
  mix-blend-mode: normal;
}
.blog01 {
  text-decoration: none;
  top: 4.94em;
  width: 16.63em;
  height: 27.88em;
  color: inherit;
}
.theManyBenefitsContainer {
  position: absolute;
  top: 54.71%;
  left: 0;
  font-size: 1.19em;
  line-height: 1.58em;
  white-space: pre-wrap;
  mix-blend-mode: normal;
}
.blog011,
.blog012,
.blog013 {
  text-decoration: none;
  position: absolute;
  top: 4.94em;
  left: 18.88em;
  width: 16.63em;
  height: 27.88em;
  color: inherit;
}
.blog012,
.blog013 {
  left: 37.75em;
}
.blog013 {
  left: 56.69em;
}
.otherInterestingArticles,
.topAttractionIn {
  position: absolute;
  top: 352.5em;
  left: 9em;
  width: 73.31em;
  height: 32.81em;
  color: #000;
}
.topAttractionIn {
  height: 6.68%;
  width: 29.8%;
  top: 0;
  left: 35.64%;
  font-size: 2.25em;
  line-height: 1.39em;
  display: inline-block;
  text-align: left;
  mix-blend-mode: normal;
}
.imageIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.64px;
  width: 13.88em;
  height: 11.38em;
  object-fit: cover;
}
.losAngeles {
  position: absolute;
  top: 3.08em;
  left: 2.68em;
  font-size: 1.5em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.86em;
  height: 1.92em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.deal {
  text-decoration: none;
  position: absolute;
  top: 6.19em;
  left: 0.28em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.88em;
  height: 11.38em;
  color: inherit;
}
.topAttraChild,
.vectorIcon18 {
  position: absolute;
  top: 7.02em;
  left: -0.19em;
  width: 0.48em;
  height: 1.74em;
}
.topAttraChild {
  background-color: #fc8233;
  width: 9.53em;
  height: 1.45em;
}
.startingTomorrow {
  position: absolute;
  top: 6.95em;
  left: 0.55em;
  font-size: 1.02em;
  letter-spacing: 0.01em;
  text-align: left;
}
.losAngeles1 {
  position: absolute;
  top: 1.75em;
  left: 1.69em;
  font-size: 1.5em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.88em;
  height: 4.08em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.deal1 {
  text-decoration: none;
  position: absolute;
  top: 6.19em;
  left: 15.94em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.88em;
  height: 11.38em;
  color: inherit;
}
.losAngeles2 {
  position: absolute;
  top: 1.75em;
  left: 1.65em;
  font-size: 1.5em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.96em;
  height: 4.13em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.deal2 {
  text-decoration: none;
  position: absolute;
  top: 6.19em;
  left: 31.63em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.88em;
  height: 11.38em;
  color: inherit;
}
.losAngeles3 {
  position: absolute;
  top: 2.33em;
  left: 1.71em;
  font-size: 1.5em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.83em;
  height: 2.96em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.deal3,
.deal4 {
  text-decoration: none;
  position: absolute;
  top: 6.19em;
  left: 47.31em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.88em;
  height: 11.38em;
  color: inherit;
}
.deal4 {
  left: 63em;
}
.viewAll3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.06em;
  line-height: 3.53em;
  font-weight: 600;
  mix-blend-mode: normal;
}
.viewAllChild {
  position: absolute;
  top: 1.53em;
  left: 4.63em;
  width: 0.38em;
  height: 0.69em;
}
.viewAll2 {
  text-decoration: none;
  position: relative;
  width: 4.94em;
  height: 3.75em;
  color: inherit;
}
.viewAll1 {
  position: absolute;
  top: 17.94em;
  left: 72.94em;
  width: 4.94em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #fb8f1d;
  font-family: Inter;
}
.dividerIcon1 {
  position: absolute;
  height: 0.58%;
  width: 20.22%;
  top: 13.73%;
  right: 39.88%;
  bottom: 85.69%;
  left: 39.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.topAttra {
  position: absolute;
  top: 388.75em;
  left: 6.19em;
  width: 78.56em;
  height: 21.69em;
  text-align: center;
  color: #fff;
}
.quickFacts2 {
  position: absolute;
  top: 0;
  left: 0.14em;
  font-size: 2.25em;
  line-height: 1em;
  color: #eb6e13;
  display: flex;
  align-items: center;
  width: 15.72em;
  height: 1.39em;
}
.quickFactsChild {
  position: absolute;
  top: 4.69em;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 43.25em;
  height: 10.19em;
}
.a,
.segestatourcom {
  text-decoration: none;
  position: absolute;
  top: 8.06em;
  left: 3.44em;
  font-size: 1.13em;
  line-height: 144%;
  font-weight: 700;
  color: inherit;
}
.a {
  top: 10.72em;
}
.icoutlinePlaceIcon {
  position: absolute;
  top: 5.69em;
  left: 1em;
  width: 2.06em;
  height: 2.06em;
  overflow: hidden;
}
.contradaBarbaroSnc {
  text-decoration: none;
  position: absolute;
  top: 5.17em;
  left: 3.44em;
  font-size: 1.13em;
  line-height: 144%;
  font-weight: 700;
  color: inherit;
}
.vectorIcon19,
.vectorIcon20 {
  position: absolute;
  height: 9.66%;
  width: 3.32%;
  top: 62.18%;
  right: 93.64%;
  bottom: 28.15%;
  left: 3.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon20 {
  height: 10.08%;
  width: 3.47%;
  top: 81.51%;
  bottom: 8.4%;
  left: 2.89%;
}
.quickFacts1 {
  position: absolute;
  top: 276.63em;
  left: 19.63em;
  width: 43.25em;
  height: 14.88em;
  color: #000;
}
.bestPlaceTo,
.popularExperiencesIn,
.seeAlsoDiscoveringContainer,
.somethingIncorrectIn,
.suggestAnEdit {
  position: absolute;
  left: 17.44em;
  font-size: 1.13em;
  line-height: 2em;
  display: flex;
  align-items: center;
  width: 15.78em;
  height: 0.61em;
}
.somethingIncorrectIn {
  top: 261.17em;
  color: #000;
}
.bestPlaceTo,
.popularExperiencesIn,
.seeAlsoDiscoveringContainer,
.suggestAnEdit {
  top: 262.67em;
}
.bestPlaceTo,
.popularExperiencesIn,
.seeAlsoDiscoveringContainer {
  top: 190.44em;
  left: 17.17em;
  width: 38.67em;
  height: 0.83em;
  color: #000;
}
.bestPlaceTo,
.popularExperiencesIn {
  top: 0;
  left: 0;
  font-size: 2.25em;
  line-height: 1em;
  color: #eb6e13;
  width: 18.89em;
  height: 1.39em;
}
.bestPlaceTo {
  top: 24.17em;
  left: 0.38em;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 23.58em;
  height: 0.75em;
}
.imageIcon6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.64px;
  width: 13.75em;
  height: 14.88em;
  object-fit: cover;
}
.losAngeles5,
.losAngeles6,
.losAngeles7 {
  position: absolute;
  top: 4.4em;
  left: 1.31em;
  font-size: 1.38em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.14em;
  height: 1.54em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.losAngeles6,
.losAngeles7 {
  top: 12.25em;
  left: 2.88em;
  font-size: 0.63em;
  width: 15.7em;
  height: 3.39em;
}
.losAngeles7 {
  top: 12.64em;
  left: 2.4em;
  font-size: 0.75em;
  width: 13.06em;
  height: 1.39em;
}
.mapPinIcon,
.phoneCallIcon {
  position: absolute;
  top: 8.13em;
  left: 0.86em;
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.phoneCallIcon {
  top: 9.59em;
  left: 3.16em;
}
.deal5 {
  text-decoration: none;
  position: absolute;
  top: 38.38em;
  left: 15em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.75em;
  height: 14.88em;
  text-align: center;
  color: inherit;
}
.losAngeles8 {
  position: absolute;
  top: 3.49em;
  left: 1.31em;
  font-size: 1.38em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.14em;
  height: 1.54em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.mapPinIcon1 {
  position: absolute;
  top: 8.13em;
  left: 0.92em;
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.deal6 {
  text-decoration: none;
  position: absolute;
  top: 38.38em;
  left: 29.75em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.75em;
  height: 14.88em;
  text-align: center;
  color: inherit;
}
.imageIcon8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.64px;
  width: 13.73em;
  height: 14.85em;
  object-fit: cover;
}
.losAngeles11,
.losAngeles12,
.losAngeles13 {
  position: absolute;
  top: 4.39em;
  left: 1.31em;
  font-size: 1.38em;
  line-height: 108%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.12em;
  height: 1.54em;
  text-shadow: 0 4.172674655914307px 10.43px rgba(0, 0, 0, 0.3);
}
.losAngeles12,
.losAngeles13 {
  top: 12.23em;
  left: 2.88em;
  font-size: 0.63em;
  width: 15.67em;
  height: 3.38em;
}
.losAngeles13 {
  top: 12.62em;
  left: 2.4em;
  font-size: 0.75em;
  width: 13.03em;
  height: 1.39em;
}
.mapPinIcon2,
.phoneCallIcon2 {
  position: absolute;
  top: 8.11em;
  left: 1.07em;
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.phoneCallIcon2 {
  top: 9.57em;
  left: 3.15em;
}
.deal7 {
  text-decoration: none;
  position: absolute;
  top: 38.38em;
  left: 0.25em;
  box-shadow: 0 3.1733579635620117px 19.04px rgba(189, 189, 189, 0.23);
  width: 13.73em;
  height: 14.85em;
  text-align: center;
  color: inherit;
}
.viewAll5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.06em;
  line-height: 3.53em;
  font-weight: 600;
  mix-blend-mode: normal;
}
.viewAll4 {
  position: absolute;
  top: 35em;
  left: 38.5em;
  width: 4.94em;
  height: 3.75em;
  color: #fb8f1d;
}
.popularExperiencesChild {
  border: 0;
  position: absolute;
  top: 4.13em;
  left: 0.25em;
  width: 43.88em;
  height: 29.38em;
}
.popularExperiences {
  position: absolute;
  top: 220em;
  left: 19.31em;
  width: 44.13em;
  height: 53.25em;
  color: #fff;
}
.whatDoYou {
  position: absolute;
  top: 133.08em;
  left: 8.72em;
  font-size: 2.25em;
  line-height: 1em;
  display: flex;
  align-items: center;
  width: 16.14em;
  height: 1.39em;
}
.rate1Child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eb6e13;
  box-sizing: border-box;
  width: 7.38em;
  height: 3em;
}
.loveIt {
  position: absolute;
  top: 0.61em;
  left: 1.78em;
  font-size: 1.13em;
  line-height: 144%;
  font-family: Lato;
  color: #000;
  text-align: left;
}
.rate1,
.rate2,
.rate2Child {
  position: absolute;
  height: 3em;
}
.rate1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 315.06em;
  left: 16.56em;
  width: 7.38em;
}
.rate2,
.rate2Child {
  width: 7.25em;
}
.rate2Child {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eb6e13;
  box-sizing: border-box;
}
.rate2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 315.06em;
  left: 24.94em;
}
.rate3Child {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eb6e13;
  box-sizing: border-box;
  width: 15.19em;
}
.rate3,
.rate3Child,
.rate4,
.rate4Child {
  position: absolute;
  height: 3em;
}
.rate3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 315.06em;
  left: 33.25em;
  width: 15.19em;
}
.rate4,
.rate4Child {
  width: 12.94em;
}
.rate4Child {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eb6e13;
  box-sizing: border-box;
}
.rate4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 315.06em;
  left: 49.38em;
}
.rate4Item {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eb6e13;
  box-sizing: border-box;
  width: 9.94em;
  height: 3em;
}
.icon1,
.rate41,
.rate4Item {
  position: absolute;
}
.rate41 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 315.06em;
  left: 63.31em;
  width: 9.94em;
  height: 3em;
}
.icon1 {
  top: 298.13em;
  left: 59.88em;
  width: 25.5em;
  height: 7.94em;
  object-fit: cover;
}
.illustrationsLikeThese {
  position: absolute;
  top: 224.14em;
  left: 19.23em;
  font-size: 1.38em;
  font-weight: 500;
  color: #000;
  text-align: center;
  display: inline-block;
  width: 21.77em;
  height: 4.45em;
}
.frameChild50 {
  position: absolute;
  top: 306.41em;
  left: 50.12em;
  width: 10.89em;
  height: 3.19em;
}
.rectangleParent {
  position: relative;
  width: 100%;
  height: 4em;
  text-align: left;
  color: #eb6e13;
  font-family: Lato;
}
